@model Categories
@{
    ViewBag.Title = "GetCategory";
}



<table class="table table-bordered table-condensed table-responsive">
    <tr>
        <th>CategoryId</th>
        <th>CategoryName</th>
    </tr>
    <tr>
        <td>@Model.CategoryID</td>
        <td>@Model.CategoryName</td>
    </tr>
</table>