
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Template.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="span12 aligncenter">
        <h3 class="title">What people <strong>saying</strong> about us</h3>
        <div class="blankline30"></div>

        <ul class="bxslider">
            <li>
                <blockquote>
                    Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                    feugiat
                </blockquote>
                <div class="testimonial-autor">
                    <img src="~/assets/img/dummies/testimonial/1.png" alt="" />
                    <h4>Hillary Doe</h4>
                    <a href="#">www.companyname.com</a>
                </div>
            </li>
            <li>
                <blockquote>
                    Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                    feugiat
                </blockquote>
                <div class="testimonial-autor">
                    <img src="~/assets/img/dummies/testimonial/2.png" alt="" />
                    <h4>Michael Doe</h4>
                    <a href="#">www.companyname.com</a>
                </div>
            </li>
            <li>
                <blockquote>
                    Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                    feugiat
                </blockquote>
                <div class="testimonial-autor">
                    <img src="~/assets/img/dummies/testimonial/3.png" alt="" />
                    <h4>Mark Donovan</h4>
                    <a href="#">www.companyname.com</a>
                </div>
            </li>
            <li>
                <blockquote>
                    Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                    feugiat
                </blockquote>
                <div class="testimonial-autor">
                    <img src="~/assets/img/dummies/testimonial/4.png" alt="" />
                    <h4>Marry Doe Elliot</h4>
                    <a href="#">www.companyname.com</a>
                </div>
            </li>
        </ul>

    </div>
</div>